@custom-media --view-xs screen and (min-width: 360px);
@custom-media --view-sm screen and (min-width: 480px);
@custom-media --view-md screen and (min-width: 768px);
@custom-media --view-lg screen and (min-width: 1024px);

:root {
  --font-default: "Hiragino Sans", "Noto Sans JP", メイリオ, Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

  --color-gold: #ffbc0d;
  --color-red: #db0007;
  --color-white: #fff;
  --color-black: #000;
  --color-black-charcoal: #2d2d2d;
  --color-grey-light: #f7f7f7;
  --color-kraft: #b69a81;
  --color-muted: #939292;
}
