.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.float-none {
  float: none !important;
}

.clearfix:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}
