.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-col {
  flex-direction: column !important;
}
.flex-col-reverse {
  flex-direction: column-reverse !important;
}

@each $size in xs, sm, md, lg {
  @media (--view-$size) {
    .flex-row\@$size {
      flex-direction: row !important;
    }

    .flex-col\@$size {
      flex-direction: column !important;
    }
  }
}
