.rounded-none {
  border-radius: 0 !important;
}

.rounded-sm {
  border-radius: 2px !important;
}

.rounded {
  border-radius: 4px !important;
}

.rounded-md {
  border-radius: 6px !important;
}

.rounded-lg {
  border-radius: 8px !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.rounded-t-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-r-none {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-b-none {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-l-none {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-t-sm {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.rounded-r-sm {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.rounded-b-sm {
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.rounded-l-sm {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.rounded-t {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.rounded-r {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.rounded-b {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.rounded-l {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.rounded-t-md {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.rounded-r-md {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.rounded-b-md {
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.rounded-l-md {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.rounded-t-lg {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.rounded-r-lg {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.rounded-b-lg {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.rounded-l-lg {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.rounded-t-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important;
}

.rounded-r-full {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}

.rounded-b-full {
  border-bottom-right-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.rounded-l-full {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.rounded-tl-none {
  border-top-left-radius: 0 !important;
}

.rounded-tr-none {
  border-top-right-radius: 0 !important;
}

.rounded-br-none {
  border-bottom-right-radius: 0 !important;
}

.rounded-bl-none {
  border-bottom-left-radius: 0 !important;
}

.rounded-tl-sm {
  border-top-left-radius: 2px !important;
}

.rounded-tr-sm {
  border-top-right-radius: 2px !important;
}

.rounded-br-sm {
  border-bottom-right-radius: 2px !important;
}

.rounded-bl-sm {
  border-bottom-left-radius: 2px !important;
}

.rounded-tl {
  border-top-left-radius: 4px !important;
}

.rounded-tr {
  border-top-right-radius: 4px !important;
}

.rounded-br {
  border-bottom-right-radius: 4px !important;
}

.rounded-bl {
  border-bottom-left-radius: 4px !important;
}

.rounded-tl-md {
  border-top-left-radius: 6px !important;
}

.rounded-tr-md {
  border-top-right-radius: 6px !important;
}

.rounded-br-md {
  border-bottom-right-radius: 6px !important;
}

.rounded-bl-md {
  border-bottom-left-radius: 6px !important;
}

.rounded-tl-lg {
  border-top-left-radius: 8px !important;
}

.rounded-tr-lg {
  border-top-right-radius: 8px !important;
}

.rounded-br-lg {
  border-bottom-right-radius: 8px !important;
}

.rounded-bl-lg {
  border-bottom-left-radius: 8px !important;
}

.rounded-tl-full {
  border-top-left-radius: 9999px !important;
}

.rounded-tr-full {
  border-top-right-radius: 9999px !important;
}

.rounded-br-full {
  border-bottom-right-radius: 9999px !important;
}

.rounded-bl-full {
  border-bottom-left-radius: 9999px !important;
}

@each $size in mdd, lgg {
  @media (--view-$size) {
    .rounded-none\@$size {
      border-radius: 0 !important;
    }

    .rounded-sm\@$size {
      border-radius: 2px !important;
    }

    .rounded\@$size {
      border-radius: 6px !important;
    }

    .rounded-lg\@$size {
      border-radius: 8px !important;
    }

    .rounded-full\@$size {
      border-radius: 9999px !important;
    }
  }
}
