@each $size in xs, sm, md, lg {
  @media (--view-$size) {
    .rounded-none\@$size {
      border-radius: 0 !important;
    }

    .rounded-sm\@$size {
      border-radius: 2px !important;
    }

    .rounded\@$size {
      border-radius: 4px !important;
    }

    .rounded-lg\@$size {
      border-radius: 8px !important;
    }

    .rounded-full\@$size {
      border-radius: 9999px !important;
    }
  }
}
