.line-height-0 {
  line-height: 0 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-sm {
  line-height: 1.2 !important;
}

.line-height-md {
  line-height: 1.5 !important;
}

.line-height-lg {
  line-height: 2 !important;
}

.line-height-normal {
  line-height: normal !important;
}

@each $size in mdd, lgg {
  @media (--view-$size) {
    .line-height-0\@$size {
      line-height: 0 !important;
    }

    .line-height-1\@$size {
      line-height: 1 !important;
    }

    .line-height-sm\@$size {
      line-height: 1.2 !important;
    }

    .line-height-md\@$size {
      line-height: 1.5 !important;
    }

    .line-height-lg\@$size {
      line-height: 2 !important;
    }

    .line-height-normal\@$size {
      line-height: normal !important;
    }
  }
}
