.line-height-0 {
  line-height: 0 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-sm {
  line-height: 1.2 !important;
}

.line-height-md {
  line-height: 1.5 !important;
}

.line-height-mdl {
  line-height: 1.6 !important;
}

.line-height-lg {
  line-height: 2 !important;
}

.line-height-normal {
  line-height: normal !important;
}


@media (--view-md-1px){
  .line-height-md\:md-1px {
    line-height: 1.5 !important;
  }
}