.leading-none {
  line-height: 1 !important;
}

.leading-tight {
  line-height: 1.25 !important;
}

.leading-snug {
  line-height: 1.375 !important;
}

.leading-normal {
  line-height: 1.5 !important;
}

.leading-relaxed {
  line-height: 1.625 !important;
}

.leading-loose {
  line-height: 2 !important;
}

@each $size in mdd, lgg {
  @media (--view-$size) {
    .leading-none\@$size {
      line-height: 1 !important;
    }

    .leading-tight\@$size {
      line-height: 1.25 !important;
    }

    .leading-snug\@$size {
      line-height: 1.375 !important;
    }

    .leading-normal\@$size {
      line-height: 1.5 !important;
    }

    .leading-relaxed\@$size {
      line-height: 1.625 !important;
    }

    .leading-loose\@$size {
      line-height: 2 !important;
    }
  }
}
