.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

@each $size in mdd, lgg {
  @media (--view-$size) {
    .text-left\@$size {
      text-align: left !important;
    }

    .text-center\@$size {
      text-align: center !important;
    }

    .text-right\@$size {
      text-align: right !important;
    }

    .text-justify\@$size {
      text-align: justify !important;
    }
  }
}
