.whitespace-normal {
  white-space: normal !important;
}
.whitespace-no-wrap {
  white-space: nowrap !important;
}
.whitespace-pre {
  white-space: pre !important;
}
.whitespace-pre-line {
  white-space: pre-line !important;
}

.whitespace-pre-line\:sm {
  @media (--view-sm) {
    white-space: pre-line !important;
  }
}

.whitespace-pre-wrap {
  white-space: pre-wrap !important;
}
