.break-normal {
  word-break: normal !important;
  overflow-wrap: normal !important;
}

.break-words {
  overflow-wrap: break-word !important;
}

.break-all {
  word-break: break-all !important;
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .truncate-2 {
    display: block;
    max-height: 3em;
  }
}
