.bg-transparent {
  background-color: transparent !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-grey {
  background-color: #eee !important;
}

@each $size in mdd, lgg {
  @media (--view-$size) {
    .bg-transparent\@$size {
      background-color: transparent !important;
    }

    .bg-white\@$size {
      background-color: #fff !important;
    }
  }
}
